body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.fullscreen-bg__video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
.subtitle{
    color: rgba(102, 255, 216,0.7);
    text-align: center;
    margin-top: -70px;

}
.myname{
    color: rgba(102, 255, 216,0.5);
    text-align: center;
    font-size: 80px;
    animation: nameFadeIn 2.5s ease-in-out;
}
.myname2{ /* orange one on the top of the stack of matthew names*/
    color: rgba(255, 197, 96, 0.7);
    font-size: 80px;
    z-index: -9;
    margin-top: -180px;
    text-align: center;
    animation: nameFadeIn 2.5s ease-in-out;
    animation: colorSpaz 0.2s ease-in-out infinite;
}
.myname3{
    color: rgba(102, 255, 216,0.6);
    position: relative;
    font-size: 80px;
    z-index: -10;
    margin-top: -161px;
    text-align: center;
    animation: nameFadeIn 2.5s ease-in-out;
}
@keyframes nameFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes colorSpaz{
    from{
        color: rgba(255, 255, 255,0.7);
    }
    to{
        color: rgba(200, 235, 155,0.7);
    }
}

.arrow{
    display: block;
    position: absolute;
    filter: invert(100);
    width: 40px;
    height: auto;
    bottom: 20px;
    left: 50%;
    margin-left: -20px; /* centering something abs position, left:50% and margin-left: negative value of half of width of thing u want to center lol */
/*    opacity: 0.4;*/
    animation: arrowPulse 2.5s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes arrowPulse{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#section1{
    background-image: url(images/mememe.jpg);
    background-size: cover;
}
.videographyTitle{
    font-size: 5vw;
    color: white;
    margin-left: 62%;
    margin-top: -14%;
}

.bioHolder{
    width:490px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 62%;
}
.allLinkHolder{
    width: 100%;
    margin-top: 4%;
}

.githubLogo{
    filter: invert(100);
}
.gitHubHolder{
    display: inline-block;
    vertical-align: top;
    margin-left: 62%;
}

.ytHolder{
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    margin-top: 20px;
}
.yt{
    width: 140px;
    height: auto;
}
.linkedHolder{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-top: 19px;
}
.li{
    width: 140px;
    height: auto;
}

.form-container{
    display: inline-block;
    width: 20%;
    margin-left: 6%;
}
.form-container h1{
    color: white;
}
text{
    border: 3px solid white;
    width: 100px;
}
input{
    border: 3px solid teal;
    display:block;
    width: 300px;
    height: 30px;
}
#subject{
    width: 300px;
    height: 120px;
    font-family: 'Poppins', sans-serif; 
}
#submitbtn{
    border: none;
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif; 
/*    margin-left: 120px;*/
    border: 3px solid teal;
    width: 310px;
    height: 30px;
}
#section4{
    background-color: black;
}
#section4 h1{
    color: white;
    font-size: 77px;
    margin-left: 6%;
    margin-top: -300px;
}
span{
    color: white;
}
textarea{
    border: 3px solid teal;
    width: 300px;
}
iframe{
    width: 20vw;
    height: auto;
}

/** MEDIA QUERIES **/
/** RESPONSIVENESS OF 2ND PAGE MOSTLY**/
/** BELOW **/

@media screen and (max-width: 1340px) {
    .bioHolder{
        width:350px;
    }
    .githubLogo{
        width: 50px;
        height: auto;
    }
    .yt{
        width: 90px;
        height: auto;
    }
    .li{
         width: 90px;
        height: auto;
    }
}

@media screen and (max-width: 900px) {
    .bioHolder{
       text-align: center;
        margin: 0;
        width: 100%;
    }
    .bio{
        text-align: center;
        
    }
    .videographyTitle{
        font-size: 40px;
        margin-left: 0;
    }
    .titleHolder{
        text-align: center;
    }
    /* logos */
    .allLinkHolder{
        text-align: center;
    }
    .githubLogo{
        width: 50px;
        height: auto;
    }
    .gitHubHolder{
        margin-left: 0;
    }
    .yt{
        width: 90px;
        height: auto;
    }
    .li{
         width: 90px;
        height: auto;
    }
    
}

/** end of 2nd page responsiveness ^ **/
/**************************************/
/**************************************/

#particles-js{
    height: 100%;
    width: 100%;
    background: #FF7575;
    position: relative;
    z-index: 1;
}
.absolute{
    position: absolute;
    width: 100%;
}
.devPortfolioTitle{
    font-size: 80px;
    position: relative;
    text-align: center;
    z-index: 33;
    color: rgba(255, 255, 255,1)
}
.grid{
    position: absolute;
    z-index: 100;
    left: 2.7%;
    right: 3%;
    top: 25%;
/*    border: 5px solid white;*/
    color: white;
    padding: 2%;
    height: 55%;
    width: 90%;
}
.hclogo{
    width: 150px;
    height: auto;
}
.LogoHolder{
    text-align: center;
    border: 3px solid white;
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}
.tt{
    width: 150px;
    height: auto;
    margin-top: 50px;
}
.wmens{
    width: 200px;
    height: auto;
}
.vox{
    width: 160px;
    height: auto;
    margin-top: 50px;
}
.foodbank{
    width: 150px;
    height: auto;
    margin-top: 50px;
}
.link{
    color: white;
}
.allLogoHolder{
    text-align: center;
}

/** RESPONSIVENESS**/
/** OF FIRST PAGE **/
/** BELOW **/

@media screen and (max-width: 480px) {
    .fullscreen-bg{
        background: url(images/splashStatic.jpg) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        border: rgba(102, 255, 216,0.5) 1px solid ;
        /** for some reason can only get image fullscreen with this border... ugh **/
    }
    .fullscreen-bg__video{
        display: none;
    }
    .fullscreen-bg h1{
        font-size: 14vw;
    }
    .myname2{
/*        margin-top:-140px;*/
        margin-top: -32%;
    }
    .myname3{
        margin-top: -20%;
/*        margin-top: -123px;*/
    }
    .subtitle{
        margin-top: -20%;
        font-size: 6vw;
/*        margin-top: -40px;*/
    }
    .nameHolder{
        margin-top: 300px;
    }

}

/** RESPONSIVENESS **/
/** OF THIRD PAGE **/
/** BELOW **/

@media screen and (max-width: 1340px) {
    .LogoHolder{
        width: 180px;
    }
}

@media screen and (max-width: 900px) {
    .LogoHolder{
        height: 180px;
    }
}

@media screen and (max-width: 480px) {
    .devPortfolioTitle{
        font-size: 10vw;
    }
    .LogoHolder{
        width: 100px;
        height: 100px;
    }
    .link{
        font-size: 2.5vw;
    }
    .hclogo{
        width: 65px;
        height: auto;
    }
    .tt{
        width: 80px;
        height: auto;
        margin-top: 30px;
    }
    .wmens{
        width: 70px;
        height: auto;
    }
    .vox{
        width: 70px;
        height: auto;
        margin-top: 20px;
    }
    .foodbank{
        width: 100px;
        height: auto;
        margin-top: 10px;
    }
}


