body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#navbar{
    font-size: 30px;
    text-align: center;
    font-family: 'Libre Barcode 39 Text', cursive;
	position:fixed;
	top:0px;
	width:100%; 
	height:75px; 
	z-index:9999;
	display: none;
    color: white;
}

.name{
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 2.5vw;
}

.navbar a{
    padding-right: 60px;
}

.fullscreen-bg__video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
.myname{
    color: rgba(102, 255, 216,0.5);
    text-align: center;
    font-size: 80px;
    animation: nameFadeIn 2.5s ease-in-out;

}
.myname2{ /* orange one on the top of the stack of matthew names*/
    color: rgba(255, 197, 96, 0.7);
    font-size: 80px;
    z-index: -9;
    margin-top: -180px;
    text-align: center;
    animation: nameFadeIn 2.5s ease-in-out;
    animation: colorSpaz 0.2s ease-in-out infinite;
}
.myname3{
    color: rgba(102, 255, 216,0.6);
    position: relative;
    font-size: 80px;
    z-index: -10;
    margin-top: -161px;
    text-align: center;
    animation: nameFadeIn 2.5s ease-in-out;
}
@keyframes nameFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes colorSpaz{
    from{
        color: rgba(255, 255, 255,0.7);
    }
    to{
        color: rgba(200, 235, 155,0.7);
    }
}
.arrow{
    display: block;
    position: absolute;
    filter: invert(100);
    width: 40px;
    height: auto;
    bottom: 20px;
    left: 49%;
/*    opacity: 0.4;*/
    animation: arrowPulse 2.5s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes arrowPulse{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#section1{
    background: black;
}
#section1 h1{
    font-size: 100px;
    margin-left: -1000px;
    color: rgba(102, 255, 216,1);
    transition: all 1.5s ease-in-out;
    opacity: 0;
    line-height: 0.8;

}
#section1 h2{
    font-size: 80px;
    margin-left: 50px;
    line-height: 0;
    margin-top: -180px;
    color: white;
}
/*    animation: slideIn 3s ease-in;*/
/*
}
@keyframes slideIn{
    0%{
        margin-left: -100px;
    }
    100%{
        margin-left: 50px;
    }
}
*/
.fp-viewing-1 #section1 h1{
    margin-left: 50px;
    opacity: 1;
}
.video{
    display: inline-block;
    margin-left: -1000px;
    transition: all 1.5s ease-in-out;
    border: 2px solid white;
}
.video2{
    display: inline-block;
    margin-left: 60px;
    border: 2px solid white;
}
.fp-viewing-1 #section1 .video{
    margin-left: 60px;
}
    


