body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#navbar{
    font-size: 30px;
    text-align: center;
    font-family: 'Libre Barcode 39 Text', cursive;
	position:fixed;
	top:0px;
	width:100%; 
	height:75px; 
	z-index:9999;
	display: none;
    color: white;
}

.name{
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 2.5vw;
}

.navbar a{
    padding-right: 60px;
}

.fullscreen-bg__video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
.myname{
    color: rgba(102, 255, 216,0.5);
    text-align: center;
    font-size: 80px;
    animation: nameFadeIn 2.5s ease-in-out;

}
.myname2{ /* orange one on the top of the stack of matthew names*/
    color: rgba(255, 197, 96, 0.7);
    font-size: 80px;
    z-index: -9;
    margin-top: -180px;
    text-align: center;
    animation: nameFadeIn 2.5s ease-in-out;
    animation: colorSpaz 0.2s ease-in-out infinite;
}
.myname3{
    color: rgba(102, 255, 216,0.6);
    position: relative;
    font-size: 80px;
    z-index: -10;
    margin-top: -161px;
    text-align: center;
    animation: nameFadeIn 2.5s ease-in-out;
}
@keyframes nameFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes colorSpaz{
    from{
        color: rgba(255, 255, 255,0.7);
    }
    to{
        color: rgba(200, 235, 155,0.7);
    }
}
.arrow{
    display: block;
    position: absolute;
    filter: invert(100);
    width: 40px;
    height: auto;
    bottom: 20px;
    left: 50%;
    margin-left: -20px; /* centering something abs position, left:50% and margin-left: negative value of half of width of thing u want to center lol */
/*    opacity: 0.4;*/
    animation: arrowPulse 2.5s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes arrowPulse{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#section1{
    background-image: url(images/websiteDayOne-2.jpg);
    background-repeat:no-repeat;
    background-position: center center;

}
#section1 h1{
    font-size: 77px;
    margin-left: -1000px;
/*    color: rgba(102, 255, 216,1);*/
    color: white;
    transition: all 1.5s ease-in-out;
    opacity: 0;
}
.fp-viewing-1 #section1 h1{
    margin-left: 6%;
    opacity: 1;
}
#section1 p{
    color: white;
    margin-left: 1500px;
    opacity: 0;
    font-weight: 500;
    text-shadow: 2px 2px black;
    width: 26%;
    transition: all 1.5s ease-in-out;
}
.fp-viewing-1 #section1 p{
    margin-left: 6%;
    opacity: 1;
}
.holder{
    margin-left: 6%;
}
.video{
    display: inline-block;
    margin-left: -1000px;
    transition: all 1.5s ease-in-out;
    border: 2px solid white;
}
.video2{
    display: inline-block;
    margin-left: 60px;
    border: 2px solid white;
}
.fp-viewing-1 #section1 .video{
    margin-left: 60px;
}
#section1{
/*    background-image: url(images/busan.jpg);*/
    background-color: black;
    background-size: cover;
    display: flex;
}
.arrowResume{
    filter: invert(100);
    width: 40px;
    height: auto;
    margin-bottom: -1.5px;
    display: inline-block;
}
.allLinkHolder{
    transition: all 3s ease-in-out;
    opacity: 0;
    margin-top: 100px;
}
.bio-link{
    display: inline-block;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.myLogo{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 100px;
    margin-top: -40px;
    opacity: 0;
    transition: all 3s ease-in-out;
}
.fp-viewing-1 #section1 .myLogo{
    opacity: 1;
}
.fp-viewing-1 #section1 .allLinkHolder{
    opacity: 1;
}
#section2{
/*    background-color: black;*/
    background-image: url(images/websitePageThree.png);
}
.thirdPageTitle{
    color: white;
    font-size: 70px;
    margin-left: -1000px;
    margin-top: -40px;
    transition: all 1.5s ease-in-out;
    opacity: 0;
}
.fp-viewing-2 #section2 .thirdPageTitle{
    margin-left: 6%;
    opacity: 1;
}
.videoHolder{
    border: 4px solid white;
    display: inline-block;
    opacity: 0;
    transition: all 2.5s ease-in-out;
}
.fp-viewing-2 #section2 .videoHolder{
    opacity: 1;
}
.videoHolderSpacing{
    margin-left: 4%;
}
.everythingContainer{
    margin-left: 6%;
}
.videoHolderSpacing2{
    margin-top: 50px;
}
#section3{
    background-color: black;
}
.fourthPageTitle{
    color: white;
    font-size: 70px;
    margin-left: 6%;
    margin-top: -100px;
}
.cinema{
    filter: invert(100);
    width: 230px;
    height: auto;
}
.cinemaHolder{
    margin-left: 4.7%;
    width: 17%;
    display: inline-block;
    text-align: center;
}
.cinemaTextHolder{
    color: white;
    margin-top: -70px;
    text-align: center;
}
.webDev{
    filter: invert(100);
    width: 230px;
    height: auto;

}
.webDevHolder{
    display: inline-block;
    text-align: center;
    width: 17%;
    margin-left: 18%;
}
.webDevTextHolder{
    color: white;
    margin-top: -30px;
    text-align: center;
}
.servicesHolder{
    display: inline-block;
}
.designHolder{
    display: inline-block;
    width: 17%;
    text-align: center;
    margin-left: 19%;

}
.design{
    filter: invert(100);
    width: 230px;
    height: auto;
    color: white;
    text-align: center;
}
.designTextHolder{
    color: white;
    text-align: center;
    margin-top: -85px;
}
.form-container{
    display: inline-block;
    width: 20%;
    margin-left: 6%;
}
.form-container h1{
    color: white;
}
text{
    border: 3px solid white;
    width: 100px;
}
input{
    border: 3px solid teal;
    display:block;
    width: 300px;
    height: 30px;
}
#subject{
    width: 300px;
    height: 120px;
    font-family: 'Poppins', sans-serif; 
}
#submitbtn{
    border: none;
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif; 
/*    margin-left: 120px;*/
    border: 3px solid teal;
    width: 310px;
    height: 30px;
}
#section4{
    background-color: black;
}
#section4 h1{
    color: white;
    font-size: 77px;
    margin-left: 6%;
    margin-top: -300px;
}
span{
    color: white;
}
textarea{
    border: 3px solid teal;
    width: 300px;
}
@media only screen and (max-width: 1500px) {
    iframe{
        width: 250px;
        height: 150px;
    }
    .videoHolder{
        margin-left: 5%;
    }
    .everythingContainer{
        margin-left: 1%;
    }
    
}
@media only screen and (max-width: 1100px) {
    #section1 p{
        width: 400px;
    }
    .thirdPageTitle{
        margin-left: 3%;
    }
    iframe{
        width: 215px;
        height: 115px;
    }
    .everythingContainer{
        margin-left: 3%;
    }
    .videoHolderSpacing{
        margin-left: 2%;
    }
}

